<h1>Register Players</h1>

<div *ngIf="message">{{ message }}</div>
<div class="form-group">
	<form (ngSubmit)="registerContestants()">
		<div *ngFor="let player of players; index as playerSpot; trackBy: trackByPlayerIndex">
			<input type="text" 
			       placeholder="Contestant {{ playerSpot }}"
			       name="playerNameSpot{{ playerSpot }}"
			       [(ngModel)]="players[playerSpot]">
			<br>
		</div>
<!--
			<input type="text" 
			       name="playerNameSpot1"
			       [(ngModel)]="players[1]">
			<br>
			<input type="text" 
			       name="playerNameSpot2"
			       [(ngModel)]="players[2]">
			<br>
			<input type="text" 
			       name="playerNameSpot3"
			       [(ngModel)]="players[3]">
			<br>
			<input type="text" 
			       name="playerNameSpot4"
			       [(ngModel)]="players[4]">
			<br>
			<input type="text" 
			       name="playerNameSpot5"
			       [(ngModel)]="players[5]">
			<br>
			<input type="text" 
			       name="playerNameSpot6"
			       [(ngModel)]="players[6]">
			<br>
			<input type="text" 
			       name="playerNameSpot7"
			       [(ngModel)]="players[7]">
			<br>
-->
	<button type="submit">Register Contestants</button>
	</form>
</div>

<h4>{{players}}</h4>
